@model DataLibrary.Models.OrderModel

@{
    ViewBag.Title = "Order Details";
}

<h2>Order @Html.DisplayFor(model => model.OrderID) </h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.OrderID)*@
            @Html.DisplayName("Order ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderID)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.OrderNumber)*@
            @Html.DisplayName("Order Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.DateOrdered)*@
            @Html.DisplayName("Date Ordered")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOrdered)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.CustomerName)*@
            @Html.DisplayName("Customer Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.CustomerAddress)*@
            @Html.DisplayName("Customer Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditOrder", new { id = Model.OrderID  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
