@model DataLibrary.Models.ProductModel
@using DataLibrary.BusinessLogic

@{
    ViewBag.Title = "Product Details";
}

@{ 
    var inventory = InventoryProcessor.CheckInventory(Model.ProductID);
}

<h2>Product @Html.DisplayFor(model => model.ProductID) </h2>
<p>Current Inventory: @inventory</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.ProductID)*@
            @Html.DisplayName("Product ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductID)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.SKU)*@
            @Html.DisplayName("Product SKU")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SKU)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.ProductDescription)*@
            @Html.DisplayName("Product Description")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditProduct", new { id = Model.ProductID  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
