@model DataLibrary.Models.OrderLinesModel

@{
    ViewBag.Title = "Delete Order Lines";
}

<h2>Delete Order Line @Html.DisplayFor(model => model.OrderLineID)</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Order Line ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderLineID)
        </dd>

        <dt>
            @Html.DisplayName("Order ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderID)
        </dd>

        <dt>
            @Html.DisplayName("Product ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductID)
        </dd>

        <dt>
            @Html.DisplayName("Quantity")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QTY)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.HiddenFor(model => model.OrderLineID);
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index/" + Model.OrderID)
    </div>
    }
</div>
