@{
    ViewBag.Title = "Warehouse Management Systems";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3>Inventory</h3>
            <ul>
                <li>@Html.ActionLink("View Inventory", "Index", "Inventory")</li>
                <li>@Html.ActionLink("Add Inventory", "AddInventory", "Inventory")</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h3>Products</h3>
            <ul>
                <li>@Html.ActionLink("View Products", "Index", "Product")</li>
                <li>@Html.ActionLink("Add a Product", "AddProduct", "Product")</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h3>Orders</h3>
            <ul>
                <li>@Html.ActionLink("View Orders", "Index", "Order")</li>
                <li>@Html.ActionLink("Add an Order", "AddOrder", "Order")</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h3>Bins</h3>
            <ul>
                <li>@Html.ActionLink("View Bins", "Index", "Bins")</li>
                <li>@Html.ActionLink("Add a Bin", "AddBin", "Bins")</li>
            </ul>
        </div>
    </div>
</div>