@model InventoryManagement.Models.InventoryModel

@{
    ViewBag.Title = "Delete Inventory";
}

<h2>Delete Inventory @Html.DisplayFor(model => model.InventoryID)</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Inventory ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventoryID)
        </dd>

        <dt>
            @Html.DisplayName("Product ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductID)
        </dd>

        <dt>
            @Html.DisplayName("Bin ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BinID)
        </dd>

        <dt>
            @Html.DisplayName("Quantity")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QTY)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.HiddenFor(model => model.InventoryID);
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
    }
</div>
