@model InventoryManagement.Models.InventoryModel

@{
    ViewBag.Title = "Inventory Details";
}

<h2>Inventory @Html.DisplayFor(model => model.InventoryID) </h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Inventory ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventoryID)
        </dd>

        <dt>
            @Html.DisplayName("Product ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductID)
        </dd>

        <dt>
            @Html.DisplayName("Bin ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BinID)
        </dd>

        <dt>
            @Html.DisplayName("Quantity")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QTY)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditInventory", new {  id = Model.InventoryID  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
