@model InventoryManagement.Models.BinModel

@{
    ViewBag.Title = "Bin Details";
}

<h2>Bin @Html.DisplayFor(model => model.BinID)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Bin ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BinID)
        </dd>

        <dt>
            @Html.DisplayName("Bin Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BinName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditBin", new { id = Model.BinID  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
