@model DataLibrary.Models.BinModel

@{
    ViewBag.Title = "Delete Bin";
}

<h2>Delete Bin @Html.DisplayFor(model => model.BinID)</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Bin ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BinID)
        </dd>

        <dt>
            @Html.DisplayName("Bin Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BinName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.HiddenFor(model => model.BinID);
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
    }
</div>
